{% extends 'core/base.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block header %}
<h1 class="display-2 text-dark mb-4 animated slideInDown">Etiqueta tu estilo escolar con nosotros </h1>
{% endblock %}
{% block content %}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s"
                            src="{% static 'core/img/aboutt1.jpg' %}" alt="">
                        <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="{% static 'core/img/aboutt3.jpg' %}"
                            alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="{% static 'core/img/aboutt4.jpg' %}"
                            alt="">
                        <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="{% static 'core/img/aboutt2.jpg' %}"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Home</p>
                    <h1 class="display-6">El encuentro de la organización con la creatividad</h1>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100" src="{% static 'core/img/aboutt5.jpg' %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5>Etiquetas para uniformes escolares</h5>
                        <p class="mb-0">¡Destaca en la escuela con estilo y orden! Nuestras etiquetas para uniformes
                            escolares son la forma perfecta de personalizar tu look escolar y mantener todo en su lugar.</p>
                    </div>
                </div>
                <div class="border-top mb-4"></div>
                <div class="row g-3">
                    <div class="col-sm-8">
                        <h5>Etiquetas para utiles escolares</h5>
                        <p class="mb-0">Etiqueta tus útiles escolares y marca la diferencia en el aula con nuestras 
                            ofertas increíbles !La organización nunca había sido tan chic!</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid bg-white w-100" src="{% static 'core/img/aboutt6.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock %}