{% extends 'core/base.html' %}
{% load static %}
{% block title %}Terminos{% endblock %}
{% block header %}
<h1 class="display-2 text-dark mb-4 animated slideInDown">Terminos y condiciones</h1>
{% endblock %}
{% block content %}
<div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
    <h1 class="display-6">Nuestra empresa</h1>
</div>
<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
    <div class="border-top mb-4"></div>
    <div class="row g-3">
        <div class="col-sm-8">
            <p class="mb-0">
                Calidad Inigualable: Nuestros productos son diseñados y fabricados con el mayor cuidado. Garantizamos
                que cada etiqueta y recurso escolar que recibas cumpla con los estándares de calidad más exigentes. Si
                no quedas satisfecho, estaremos encantados de solucionarlo.

                Entrega Confiable: Sabemos lo importante que es recibir tus pedidos a tiempo. Nos comprometemos a
                realizar entregas puntuales y seguras para que nunca tengas que preocuparte por la disponibilidad de tus
                productos.

                Protección de Datos: Respetamos tu privacidad. Toda la información que compartas con nosotros se
                manejará con la máxima confidencialidad. No compartiremos tus datos con terceros sin tu consentimiento.

                Política de Devoluciones Justa: Si por alguna razón necesitas devolver un producto, nuestro equipo
                estará a tu disposición para ayudarte en todo el proceso. Queremos que estés satisfecho al 100%.

                Atención Personalizada: Somos una empresa familiar, lo que significa que te tratamos como parte de
                nuestra familia. Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. Estamos
                aquí para ayudarte en cada paso del camino.

                Garantía de Satisfacción: Tu satisfacción es nuestra prioridad número uno. Si no estás contento con tu
                compra, haremos todo lo posible para resolverlo y garantizar que quedes satisfecho.

                Responsabilidad Social: Nos preocupamos por el medio ambiente y la comunidad. Estamos comprometidos con
                prácticas sostenibles en nuestra producción y apoyamos causas sociales en nuestra comunidad local.

                Actualizaciones y Comunicación: Mantenemos a nuestros clientes informados sobre promociones, nuevos
                productos y cualquier cambio relevante en nuestros términos y condiciones a través de comunicaciones
                claras y transparentes.
            </p>
        </div>
    </div>
</div>
{% endblock %}